.hero {
  padding-top: 185px;
  position: relative;

  &__inner {
    position: relative;
    display: flex;
    align-items: flex-end;
  }

  &__background {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: -15%;
    pointer-events: none;
  }

  &__info {
    max-width: 950px;
    display: flex;
    flex-direction: column;
    flex-grow: 1
  }

  &__title {
    margin-bottom: 25px;
  }

  &__desc {
    display: inline-block;
    font-size: 24px;
    font-family: "CodecPro", sans-serif;
    color: $black;
    line-height: 1.25;
    max-width: 585px;
    position: relative;

    & img {
      position: absolute;
      margin-left: 5px;
    }
  }

  &__img {
    position: relative;
    display: flex;
    flex-grow: 1;
    pointer-events: none;

    & img {
      position: absolute;
      bottom: -80px;
      width: 160%;
      left: -22%;
    }
  }

  &__products {
    margin-top: 65px;
    display: flex;
    transform: translateX(-40px);

    &_item {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:last-child {
        margin-left: -40px;
      }

      & span {
        font-family: Jost, sans-serif;
        font-size: 20px;
        font-weight: 300;
        color: $black;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .hero {
    &__img {
      & img {
        max-width: 45vw;
        width: auto;
        left: auto;
        right: -50px;
        bottom: 0;
        min-width: 550px;
      }
    }

    &__products {
      &_item {
        & img {
          height: 250px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .hero {
    padding-top: 140px;

    &__background {
      top: 45%;
      left: -50px;
      width: 250px;
    }

    &__title {
      max-width: 700px;
    }

    &__products {
      &_item {
        & img {
          height: 200px;
        }

        & span {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 996px) {
  .hero {
    padding-top: 120px;

    &__background {
      display: none;
    }

    &__img {
      & img {
        min-width: 400px;
        right: -30px;
      }
    }

    &__desc {
      font-size: 20px;
      max-width: 500px;

      & img {
        height: 25px;
      }
    }

    &__products {
      transform: none;

      &_item {
        & img {
          height: 150px;
        }

        & span {
          font-size: 14px;
        }

        &:last-child {
          margin-left: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 860px) {
  .hero {
    &__inner {
      display: flex;
      flex-direction: column-reverse;
    }

    &__info {
      max-width: none;
      margin-right: 0;
    }

    &__title,
    &__desc {
      max-width: none;
    }

    &__img {
      margin: 0 auto 25px;

      & img {
        max-width: none;
        width: 60vw;
        min-width: auto;
        position: static;
      }
    }

    &__products {
      justify-content: center;
      margin-top: 30px;

      &_item {
        & img {
          height: 220px;
        }
      }
    }
  }
}

@media screen and (max-width: 670px) {
  .hero {
    &__products {
      &_item {
        & img {
          height: 180px;
        }
      }
    }
  }
}

@media screen and (max-width: 580px) {
  .hero {
    padding-top: 90px;

    &__img {
      & img {
        width: 100%;
      }
    }

    &__products {
      &_item {
        & img {
          height: 140px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .hero {
    &__title {
      margin-bottom: 15px;
    }

    &__desc {
      font-size: 16px;
    }

    &__products {
      &_item {
        & img {
          height: 120px;
        }

        & span {
          font-size: 10px;
        }
      }
    }
  }
}
