.stores {
  margin-top: 200px;
  position: relative;

  &__inner {
    position: relative;
    border-radius: 45px;
    background-color: $white;
    padding: 55px 45px;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.08);

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      width: 400px;
      height: 300px;
      pointer-events: none;
    }

    &::before {
      top: -50px;
      background-image: url("../images/dist/stores-wave-1.png");
      left: -200px;
    }

    &::after {
      bottom: -160px;
      background-image: url("../images/dist/stores-wave-2.png");
      right: -200px;
    }
  }

  &__title {
    max-width: 800px;

    & .required {
      font-size: inherit;
    }
  }

  &__slider {
    position: relative;
    padding-bottom: 50px;
    margin-left: -25px;
    width: calc(100% + 50px);

    & .swiper-container {
      padding: 55px 25px 50px;
    }

    &_item {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 13px;
      aspect-ratio: 16 / 9;
      padding: 0 30px;
      box-shadow: 0 4px 26px 0 rgba(0, 0, 0, 0.08);

      & img {
        width: 100%;
      }
    }

    & .swiper-button-prev {
      left: calc(50% - 35px) !important;
      transform: translateX(-50%);
    }

    & .swiper-button-next {
      left: auto !important;
      right: calc(50% - 35px) !important;
      transform: translateX(50%);
    }
  }
}

@media screen and (max-width: 1200px) {
  .stores {
    &::before,
    &::after {
      width: 300px;
    }
  }
}

@media screen and (max-width: 996px) {
  .stores {
    margin-top: 100px;

    &__inner {
      padding: 20px;

      &::before {
        width: 250px;
        left: -90px;
      }

      &::after {
        bottom: -210px;
        right: -80px;
        width: 250px;
      }
    }

    &__slider {
      padding-bottom: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .stores {
    &__inner {
      border-radius: 12px;
    }

    &__slider {
      & .swiper-container {
        padding-top: 30px;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .stores {
    margin-top: 60px;
  }
}

@media screen and (max-width: 500px) {
  .stores {
    &__inner {
      &::before {
        left: -120px;
      }

      &::after {
        right: -120px;
      }
    }

    &__slider {
      &_item {
        padding: 0 15px;
      }
    }
  }
}
